p1 {
 font-size: 24px;
 color: brown;

}
section{
 display: flex;
}

img {
 width: 600PX;
 height: 150PX;
}

.box {
width: 80px;
height: 80px;
background-color: darkblue;
padding: 80px;
transition-property: border-radius;
transition-duration: 1s;
}
.box:hover{
 border-radius: 50%;
}
.body{
 padding: 60px;
}
.box2 {
width: 80px;
height: 80px;
background-color: rgb(139, 0, 116);
padding: 80px;
transition-property: border-radius;
transition-duration: 1s;
}
.box2:hover{
 border-radius: 50%;
}
.body{
 padding: 60px;
}
.box3 {
width: 80px;
height: 80px;
background-color: rgb(139, 0, 139);
padding: 80px;
transition-property: border-radius;
transition-duration: 1s;
}
.box3:hover{
 border-radius: 50%;
}
.body{
 padding: 60px;
}
.box4 {
width: 80px;
height: 80px;
background-color: rgb(0, 139, 35);
padding: 80px;
transition-property: border-radius;
transition-duration: 1s;
}
.box4:hover{
 border-radius: 50%;
}
.body{
 padding: 60px;
}
.box5 {
width: 80px;
height: 80px;
background-color: rgb(137, 139, 0);
padding: 80px;
transition-property: border-radius;
transition-duration: 1s;
}
.box5:hover{
 border-radius: 50%;
}
.body{
 padding: 60px;
}
.box6 {
width: 80px;
height: 80px;
background-color: rgb(20, 20, 10);
padding: 80px;
transition-property: border-radius;
transition-duration: 1s;
}
.box6:hover{
 border-radius: 50%;
}
.body{
 padding: 60px;
}